@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

 <div class="col-sm-8 teacher-detail-right">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="teacher-contact">
                            <h2>My Password</h2>
                            <form method="post"  enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                                
                               <label asp-for="Input.OldPassword" style="margin-top:10px"></label>
                                <input type="password" asp-for="Input.OldPassword" >
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                
                                <label asp-for="Input.NewPassword" style="margin-top:10px"></label>
                                <input type="password" asp-for="Input.NewPassword" >
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

                                <label asp-for="Input.ConfirmPassword" style="margin-top:10px"></label>
                                <input type="password" asp-for="Input.ConfirmPassword" >
                                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                

                                <button type="submit" style="margin-top:10px">Update Password</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div><!-- Ends: .teacher-detail-right -->
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
