@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
   


<partial name="_StatusMessage" model="Model.StatusMessage" />

<form action="/" method="post">

<div class="form-group register-btn" >

<button type="submit" class="btn btn-primary reset_pass_btn" style="float:right;margin-right:50px" >Home</button>
</div>	

</form>
<br />
<br />
<br />