@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="alert alert-primary" role="alert">
    Please check your email to reset your password.
</div>


