@page
@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/Login-Register/util.css">
	<link rel="stylesheet" type="text/css" href="/css/Login-Register/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Register
					</span>
				</div>
				<div asp-validation-summary="ModelOnly" style="color:red"></div>

				<form class="login100-form validate-form" method="post" enctype="multipart/form-data">
					<div class="wrap-input100 validate-input m-b-26" data-validate="fist name is required" >
						<span class="label-input100">First name</span>
						<input class="input100" type="text" asp-for="Input.FirstName" placeholder="Enter first name">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>

					<div class="wrap-input100" >
						<span class="label-input100 validate-input m-b-26" data-validate="last name is required">Last name</span>
						<input class="input100" type="text" asp-for="Input.LastName" placeholder="Enter last name">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.LastName" class="text-danger"></span>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required" >
						<span class="label-input100">Email Address</span>
						<input class="input100" type="text" asp-for="Input.Email" placeholder="Enter email address">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.Email" class="text-danger"></span>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" asp-for="Input.Password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.Password" class="text-danger"></span>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" asp-for="Input.ConfirmPassword" placeholder="Enter cofirm password">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

					
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Profile picture</span>
						<input class="input100" type="file" asp-for="Input.Photo" placeholder="Enter cofirm password">
						<span class="focus-input100"></span>
					</div>
					<span asp-validation-for="Input.Photo" class="text-danger"></span>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" >
							Register
						</button>
						
					</div>
					<br />
					<br />
					
                        <div>
							<a href="#" style="margin-left:255px" >
								Have an account? Login
							</a>
						</div>
				</form>
					

						
			</div>

					
			</div>
		</div>

	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/Login-Register/main.js"></script>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
