@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<br />
<div class="alert alert-primary" role="alert">
  Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</div>