@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<!-- forgot pass section -->
<section class="forgot_pass">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-7 col-sm-7 col-md-7 col-lg-7 mx-auto">
				<div class="forgot_wrapper">
					<h6>Enter your new password and confirm it.</h6>	
					<form method="post">
						<div asp-validation-summary="ModelOnly" style="color:red"></div>
						<input type="hidden" asp-for="Input.Code"/>
						<div class="form-group">
							<label asp-for="Input.Email"></label>
						  	<input autocomplete="off" class="required form-control"  asp-for="Input.Email" type="text">
							  <span asp-validation-for="Input.Email"> </span>
						</div>

						<div class="form-group"> 
						    <label asp-for="Input.Password"></label>
						  	<input autocomplete="off" class="required form-control"  asp-for="Input.Password" type="password">
							   <span asp-validation-for="Input.Password"> </span>
						</div>

						<div class="form-group"> 
							<label asp-for="Input.ConfirmPassword"></label>
						  	<input autocomplete="off" class="required form-control"  asp-for="Input.ConfirmPassword" type="password">
							 <span asp-validation-for="Input.ConfirmPassword"> </span>
						</div>





						<div class="form-group register-btn">
						 	<button type="submit" class="btn btn-primary reset_pass_btn" value="Reset Password">Reset Password</button>
						</div>	
					</form>
				</div>
			</div>												
		</div>
	</div>
</section>
<!-- ./ End section -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
