@model DataAccessLayer.Models.CourseCategory
@{
    ViewData["Title"] = "test";
    Layout = null;
}

<form asp-controller="home" asp-action="test" method="post">
    <input type="text" asp-for="CategoryName" />
    <button type="submit" value="OK">OK</button>
</form>

